body {
    background: #1e1e1e;
    color: #fff;
}

.admin-container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 230px;
    background: #111;
    height: 100vh;
    padding: 20px;
}

.sidebar .brand {
    text-align: center;
    margin-bottom: 20px;
    color: #f39c12;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin-bottom: 5px;
    color: #ccc;
    text-decoration: none;
    border-radius: 4px;
}

.sidebar a:hover {
    background: #f39c12;
    color: black;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
}

/* Menu Item images */
.menu-img {
    width: 60px;
    border-radius: 5px;
}

.modal-content {
    color: black;
}
