/* NAVBAR */
.navbar { display:flex; justify-content:space-between; align-items:center; padding:20px 50px; background:white; border-bottom:1px solid #eee; margin-bottom:20px; }
.logo { font-size:28px; font-weight:bold; color:#e91b4f; }
.nav-links { list-style:none; display:flex; gap:30px; }
nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #e91b4f;
}

/* GENERAL */
* { margin:4px; padding:0; box-sizing:border-box; }
body { font-family:'Poppins', sans-serif; background:#f5f5f5; color:#333; line-height:1.6; padding:20px; }
header {
    background-color: #fff;
    padding: 1.5rem 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
h1{ font-size:2.5rem; margin-bottom:10px; color: #e11d48;; text-align: center; }

.contact{text-align: center;}




/* ⭐ REVIEWS SECTION ⭐ */
.reviews-section { max-width:900px; margin:50px auto; background:white; padding:30px; border-radius:10px; box-shadow:0 2px 8px rgba(0,0,0,0.1); }
.reviews-section h2 { text-align:center; color:#27ae60; margin-bottom:25px; }
.review { background:#f7f7f7; padding:15px 20px; border-radius:8px; margin-bottom:15px; border-left:5px solid #27ae60; }
.review h3 { color:#2c3e50; margin-bottom:5px; }
.rating { color:#e6b800; font-size:1.2rem; margin-bottom:8px; }
.add-review form input, .add-review form select, .add-review form textarea { margin-bottom:-30px; padding:10px; border:1px solid #ccc; border-radius:5px; }
.check{ padding:20px;}
.button{background:#27ae60; padding: 12px; border-radius:5px; color: white; cursor: pointer; border-color: #27ae60; }



/* Responsive */
@media (max-width: 768px) {
  .contact-container { flex-direction:column; }
  .reviews-section { margin:20px; }
}
